*.orig
*.suo
*.cache
*.pdb
*/bin/Debug/*
/Code/EnvironmentalApp/TestResults/*.mdf
/Code/EnvironmentalApp/TestResults/*.ldf
/Code/EnvironmentalApp/TestResults/ab4e2638-d6ac-4fae-91f9-e4f37d727abe/*.coverage
/Code/EnvironmentalApp/EnvironmentalApp.Services/bin/Debug/*.dll
/Code/EnvironmentalApp/EnvironmentalApp.Services/bin/Debug/*.pdb
bin
bin
bin
bin
bin
bin
*.dll
Code/EnvironmentalApp/UnitTestProject2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/UnitTestProject2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/UnitTestProject2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Debug/*
Code/EnvironmentalApp/UnitTestProject2/obj/Debug/EnvironmentalApp.Services.Tests.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Core.Tests/obj/Debug/EnvironmentalApp.Core.Tests.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Core/obj/Debug/EnvironmentalApp.Core.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Debug/EnvironmentalApp.Services.Tests.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Services/obj/Release/EnvironmentalApp.Services.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Services/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Services/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Services/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Data/obj/Release/EnvironmentalApp.Data.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Data/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Data/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Data/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Gui/Properties/PublishProfiles/EnvironmentalApp.pubxml
Code/EnvironmentalApp/EnvironmentalApp.Gui/Properties/PublishProfiles/EnvironmentalApp.pubxml.user
Code/EnvironmentalApp/EnvironmentalApp.Gui/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Gui/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Gui/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Core.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Core.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Core.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Core/obj/Release/EnvironmentalApp.Core.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Core/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Core/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Core/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Data.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Data.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Data.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.force
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Gui/Properties/PublishProfiles/Local.pubxml
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
patch.diff
Code/EnvironmentalApp/EnvironmentalApp.Data.Tests/obj/Release/EnvironmentalApp.Data.Tests.csproj.FileListAbsolute.txt
Code/EnvironmentalApp/EnvironmentalApp.Data/PiServer/ve-C1DB.tmp
*.csproj.FileListAbsolute.txt
