*.orig
*.suo
*.cache
*.pdb
*/bin/Debug/*
/Code/EnvironmentalApp/TestResults/*.mdf
/Code/EnvironmentalApp/TestResults/*.ldf
/Code/EnvironmentalApp/TestResults/*
/Code/EnvironmentalApp/EnvironmentalApp.Services/bin/Debug/*.dll
/Code/EnvironmentalApp/EnvironmentalApp.Services/bin/Debug/*.pdb
bin
*.dll
/Debug/*
*.user
*.force
patch.diff
*.csproj.FileListAbsolute.txt
*/Debug/*
*/obj/Release/*
/obj/Release/*
*/obj/Debug/
/obj/
Code/EnvironmentalApp/EnvironmentalApp.Core.Tests/obj/
Code/EnvironmentalApp/EnvironmentalApp.Console/obj/
Code/EnvironmentalApp/EnvironmentalApp.Core/obj/
Code/EnvironmentalApp/EnvironmentalApp.Data.Tests/obj/
Code/EnvironmentalApp/EnvironmentalApp.Data/obj/
Code/EnvironmentalApp/EnvironmentalApp.Gui/obj/
Code/EnvironmentalApp/EnvironmentalApp.Services.Test/obj/
Code/EnvironmentalApp/EnvironmentalApp.Services/obj/
*.tmp
Code/EnvironmentalApp/EnvironmentalApp.Gui/Properties/PublishProfiles/Local.pubxml
Code/EnvironmentalApp/EnvironmentalApp.Console.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/EnvironmentalApp/EnvironmentalApp.Console.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/EnvironmentalApp/EnvironmentalApp.Console.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/EnvironmentalApp/EnvironmentalApp.Console/EnvironmentalApp.ConsoleApp_TemporaryKey.pfx
Code/EnvironmentalApp/EnvironmentalApp.Console/packages.config
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EntityFramework.SqlServer.dll.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EntityFramework.dll.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.ConsoleApp.application
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.ConsoleApp.exe.config.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.ConsoleApp.exe.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.ConsoleApp.exe.manifest
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.Core.dll.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.Data.dll.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/Application Files/EnvironmentalApp.ConsoleApp_1_0_0_0/EnvironmentalApp.Services.dll.deploy
Code/EnvironmentalApp/EnvironmentalApp.Console/publish/EnvironmentalApp.ConsoleApp.application
