<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

  <add name="piServer" connectionString="Dsn=PI-EnergyData;uid=pidemo" providerName="System.Data.Odbc" />
  <add name="EnergyDataContext" connectionString="Data Source=Base\SQLExpress;Initial Catalog=EnergyData;Integrated Security=True;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />

  <!--<add name="EnergyDataContext" connectionString="Data Source=ANTHONYVAND73AB;Initial Catalog=EnergyData;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
</connectionStrings>
